<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), todos_path %>

  <div class="header">
    <h1>New Task</h1>
  </div>
  <%= turbo_frame_tag @todo do %>
    <%= render "form", todo: @todo %>
  <%end%>
</main>
